
.auth-bg {
    min-height: 100vh;
    background: linear-gradient(135deg, #0d6efd, #6610f2);
}

.auth-card {
    border-radius: 15px;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.8s ease;
}

.auth-card h2 {
    font-weight: 700;
}

.auth-card .form-control {
    border-radius: 10px;
    padding: 12px;
}

.auth-card .btn {
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
}


.btn-primary {
    background: linear-gradient(135deg, #0d6efd, #6610f2);
    border: none;
}

.btn-success {
    background: linear-gradient(135deg, #198754, #20c997);
    border: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
