
.hero {
    height: 90vh;
    background: linear-gradient(135deg, #0d6efd, #6610f2);
}


.section-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.section-text {
    max-width: 700px;
    margin: auto;
    color: #555;
}


.feature-card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card i {
    color: #0d6efd;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}


.cta {
    background: #f8f9fa;
    padding: 60px 20px;
}


.footer {
    background: #212529;
    color: white;
    padding: 15px;
}
